services:
  # Set the AIO limit on each ScyllaDB node high enough to function
  aio-fix:
    image: busybox
    container_name: aio-fix
    privileged: true
    command: sysctl -w fs.aio-max-nr=1048576
    restart: "no"

  scylla-node1:
    image: scylladb/scylla:latest
    container_name: scylla-node1
    restart: always
    command: --smp 1 --memory 1G --overprovisioned 1 --api-address 0.0.0.0 --developer-mode 1
    healthcheck:
      test: ["CMD-SHELL", "nodetool status | grep UN"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      aio-fix:
        condition: service_completed_successfully
    volumes:
      - scylla-data1:/var/lib/scylla
    networks:
      - scylla-network

  scylla-node2:
    image: scylladb/scylla:latest
    container_name: scylla-node2
    restart: always
    command: --seeds=scylla-node1 --smp 1 --memory 1G --overprovisioned 1 --api-address 0.0.0.0 --developer-mode 1
    healthcheck:
      test: ["CMD-SHELL", "nodetool status | grep UN"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      aio-fix:
        condition: service_completed_successfully
      scylla-node1:
        condition: service_healthy
    volumes:
      - scylla-data2:/var/lib/scylla
    networks:
      - scylla-network

  scylla-node3:
    image: scylladb/scylla:latest
    container_name: scylla-node3
    restart: always
    command: --seeds=scylla-node1 --smp 1 --memory 1G --overprovisioned 1 --api-address 0.0.0.0 --developer-mode 1
    healthcheck:
      test: ["CMD-SHELL", "nodetool status | grep UN"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      aio-fix:
        condition: service_completed_successfully
      scylla-node2:
        condition: service_healthy
    volumes:
      - scylla-data3:/var/lib/scylla
    networks:
      - scylla-network

  wikistats:
    build: .
    container_name: wikistats
    restart: on-failure
    environment:
      - DATABASE_TYPE=scylla
      - SCYLLA_HOSTS=scylla-node1,scylla-node2,scylla-node3
      - SCYLLA_KEYSPACE=wikistats
      - SCYLLA_CLUSTER_TIMEOUT=5
    depends_on:
      scylla-node3:
        condition: service_healthy
    networks:
      - scylla-network
    ports:
      - "7000:7000"

networks:
  scylla-network:
    driver: bridge

volumes:
  scylla-data1:
  scylla-data2:
  scylla-data3: